<p-dialog header="Crear Nuevo Cliente" [(visible)]="mostrarCrearCliente" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" (onHide)="cerrarDialogo()">
    <form [formGroup]="clienteForm" (ngSubmit)="crearCliente()" class="p-4 pt-0">

        <div class="field mb-3">
            <label for="cedulaRuc" class="block text-900 mb-1">Número de cédula / RUC:</label>
            <input id="cedulaRuc" type="text" pInputText formControlName="cedulaRuc" class="w-full p-inputtext-sm"
                placeholder="Ej: 1705117711">
            @if (clienteForm.get('cedulaRuc')?.invalid && clienteForm.get('cedulaRuc')?.touched) {
            <small class="text-red-500 block mt-1">
                Cédula/RUC es requerido.
            </small>
            }
        </div>

        <div class="field mb-3">
            <label for="nombreCompleto" class="block text-900 mb-1">Nombre completo:</label>
            <input id="nombreCompleto" type="text" pInputText formControlName="nombreCompleto"
                class="w-full p-inputtext-sm" placeholder="Ej: René Matamoros">
            @if (clienteForm.get('nombreCompleto')?.invalid && clienteForm.get('nombreCompleto')?.touched) {
            <small class="text-red-500 block mt-1">
                Nombre completo es requerido.
            </small>
            }
        </div>

        <div class="field mb-3">
            <label for="correoElectronico" class="block font-medium text-900 mb-1">Correo electrónico:</label>
            <input id="correoElectronico" type="email" pInputText formControlName="correoElectronico"
                class="w-full p-inputtext-sm" placeholder="Ej: correo@ejemplo.com">
            @if (clienteForm.get('correoElectronico')?.invalid && clienteForm.get('correoElectronico')?.touched) {
            <small class="text-red-500 block mt-1">
                Ingrese un correo válido.
            </small>
            }
        </div>

        <div class="grid formgrid">
            <div class="col-12 md:col-6 field">
                <label for="telefono" class="block font-medium text-900 mb-1">Teléfono:</label>
                <p-inputMask id="telefono" mask="999 999-9999" formControlName="telefono" class="w-full block px-0"
                    [style]="{width:'100%'}" placeholder="(Ej: 099 999-9999)">
                </p-inputMask>
                @if (clienteForm.get('telefono')?.invalid && clienteForm.get('telefono')?.touched) {
                <small class="text-red-500 block mt-1">
                    Teléfono es requerido.
                </small>
                }
            </div>
            <div class="col-12 md:col-6 field">
                <label for="tipoCliente" class="block font-medium text-900 mb-1">Tipo de cliente (Natural /
                    Jurídica):</label>
                <p-select id="tipoCliente" [options]="tipoClienteOptions" formControlName="tipoCliente"
                    placeholder="Selecciona un tipo" class="w-full md:w-56">
                </p-select>
            </div>
        </div>


        <div class="grid formgrid">
            <div class="col-12 md:col-6 field">
                <label for="actividadEconomica" class="block font-medium text-900 mb-1">Actividad económica:</label>
                <input id="actividadEconomica" type="text" pInputText formControlName="actividadEconomica"
                    class="w-full p-inputtext-sm" placeholder="Ej: Consultor empresarial">
                @if (clienteForm.get('actividadEconomica')?.invalid && clienteForm.get('actividadEconomica')?.touched) {
                <small class="text-red-500 block mt-1">
                    Actividad económica es requerida.
                </small>
                }
            </div>
            <div class="col-12 md:col-6 field">
                <label for="nacionalidad" class="block font-medium text-900 mb-1">Nacionalidad:</label>
                <input id="nacionalidad" type="text" pInputText formControlName="nacionalidad"
                    class="w-full p-inputtext-sm" placeholder="Ej: Ecuatoriana">
                @if (clienteForm.get('nacionalidad')?.invalid && clienteForm.get('nacionalidad')?.touched) {
                <small class="text-red-500 block mt-1">
                    Nacionalidad es requerida.
                </small>
                }
            </div>
        </div>

        <div class="field mb-3">
            <label for="direccion" class="block font-medium text-900 mb-1">Dirección domiciliaria:</label>
            <input id="direccion" type="text" pInputText formControlName="direccion" class="w-full p-inputtext-sm"
                placeholder="Ej: San Fernando">
            @if (clienteForm.get('direccion')?.invalid && clienteForm.get('direccion')?.touched) {
            <small class="text-red-500 block mt-1">
                Dirección es requerida.
            </small>
            }
        </div>

        <!-- datos adicionales -->
        <div>
            <h4 class="mb-3 text-lg font-bold">Información Adicional y Financiera</h4>

            <div class="grid formgrid">
                <div class="col-12 md:col-6 field">
                    <label for="lugarNacimiento" class="block font-medium text-900 mb-1">Lugar de nacimiento:</label>
                    <input id="lugarNacimiento" type="text" pInputText formControlName="lugarNacimiento" class="w-full">
                </div>
                <div class="col-12 md:col-6 field">
                    <label for="fechaNacimiento" class="block font-medium text-900 mb-1">Fecha de nacimiento:</label>
                    <p-datepicker id="fechaNacimiento" formControlName="fechaNacimiento" dateFormat="dd/mm/yy"
                        [showIcon]="true" appendTo="body" class="w-full" fluid>
                    </p-datepicker>
                </div>
            </div>

            <div class="grid formgrid">
                <div class="col-12 md:col-6 field">
                    <label for="ingresosMensuales" class="block font-medium text-900 mb-1">Ingresos mensuales:</label>
                    <p-inputNumber id="ingresosMensuales" formControlName="ingresosMensuales" mode="currency"
                        currency="USD" locale="es-EC" class="w-full">
                    </p-inputNumber>
                </div>
                <div class="col-12 md:col-6 field">
                    <label for="egresosMensuales" class="block font-medium text-900 mb-1">Egresos mensuales:</label>
                    <p-inputNumber id="egresosMensuales" formControlName="egresosMensuales" mode="currency"
                        currency="USD" locale="es-EC" class="w-full">
                    </p-inputNumber>
                </div>
            </div>

            <div class="grid formgrid">
                <div class="col-12 md:col-6 field">
                    <label for="totalActivos" class="block font-medium text-900 mb-1">Total Activos:</label>
                    <p-inputNumber id="totalActivos" formControlName="totalActivos" mode="currency" currency="USD"
                        locale="es-EC" class="w-full">
                    </p-inputNumber>
                </div>
                <div class="col-12 md:col-6 field">
                    <label for="totalPasivos" class="block font-medium text-900 mb-1">Total Pasivos:</label>
                    <p-inputNumber id="totalPasivos" formControlName="totalPasivos" mode="currency" currency="USD"
                        locale="es-EC" class="w-full">
                    </p-inputNumber>
                </div>
            </div>

            <div class="field mb-3">
                <label for="patrimonio" class="block font-medium text-900 mb-1">Patrimonio:</label>
                <p-inputNumber id="patrimonio" formControlName="patrimonio" mode="currency" currency="USD"
                    locale="es-EC" [readonly]="true" class="w-full">
                </p-inputNumber>
            </div>

            <div class="grid formgrid">
                <div class="col-12 md:col-6 field">
                    <label for="personaPep" class="block font-medium text-900 mb-1">Persona PEP:</label>
                    <p-selectButton id="personaPep" [options]="siNoOptions" formControlName="personaPep"
                        optionLabel="label" optionValue="value" class="w-full">
                    </p-selectButton>
                </div>
                <div class="col-12 md:col-6 field">
                    <label for="origenLicitoFondos" class="block font-medium text-900 mb-1">Declaración de Origen lícito
                        de fondos:</label>
                    <p-selectButton id="origenLicitoFondos" [options]="siNoOptions" formControlName="origenLicitoFondos"
                        optionLabel="label" optionValue="value" class="w-full">
                    </p-selectButton>
                </div>
            </div>

            <div class="field mb-3">
                <label for="estadoCivil" class="block font-medium text-900 mb-1">Estado Civil:</label>
                <p-select id="estadoCivil" [options]="estadoCivilOptions" formControlName="estadoCivil"
                    placeholder="Selecciona el estado civil" optionLabel="label" optionValue="value" class="w-full">
                </p-select>
            </div>
        </div>


        <div class="pt-2">
            <p-button label="Crear Nuevo Cliente" icon="pi pi-plus" type="submit"
                styleClass="w-full text-lg p-button-primary shadow-2" [disabled]="clienteForm.invalid"> </p-button>
        </div>

    </form>
</p-dialog>